
body{

  background-image: url("background4.png");
  background-repeat: repeat;
  background-size : 100% 100%;
  color:#00FFD1;
  background-color: black;
  }

div{
  color: blue;
}
  h1{
    color: #E3C770;
  }

  h3{
    color: #E14D2A;
  }
  a{
    color: yellow;
  }
  hr {

border-color: grey;
border-style: dotted none none;
border-width: 5px;
width: 5%;

}
